body{
    margin: 0%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    gap: 50px;
    background-color: white;
    font-family: monospace;
    color: white;
}

main{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
}
.winner{
    text-align: center;
    width: 125px;
    height: 50px;
    background-color: gray;
    padding-inline: 30px;
    border-radius: 7px;
    transform: translateY(20px);
    scale: 0.5;
    opacity: 0;
    transition: all ease 0.5s;
}
.turn{
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 7px;
    background-color: grey;
    margin-top: 20px;
    font-weight: 600;
}

tr{
    width: 300px;
}   
table{
    border-collapse: collapse;
    height: 300px;
    width: 300px;
}

td{
    border: 5px solid grey;
    align-items: center;
    justify-items: center;
    height: 95px ;
    width: 95px ;

}

.hide{
    opacity: 0.1;
    transition: all ease 0.5s;
}
.remove{
    display: none;
}

.cross{
    width: 50px;
    height: 5px;
    background-color: red;
    rotate: 45deg;
    position: relative;
    /* transform: translate(18px, 18px); */
}
.cross::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    background-color: red;
    rotate: 90deg;
}
.circle{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 5px solid red;

}


@media (max-width : 720px) {
    main{
        flex-direction: column;
        align-items: center;
    }
}